main{
  position: relative;
  padding-bottom: 3rem;
}
footer{
  position: absolute;
  bottom: 15px;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer a{
  background-color: #282c34;
  text-decoration: none;
  color: gray;
  padding: 5px 10px;
  border-radius: 5px;
}
footer a:hover{
  /* opacity: 3; */
  outline: 1px lightgray solid;
  background-color: #282c345d;
}
